body {
  font-family: "Courier New", Courier, monospace;
}

#heading {
  text-align: center;
  font-size: xx-large;
}


/* Form styling */

#form {
  background-color: rgb(71, 119, 173);
  padding: 2px 0 2px 0;
}

select,
#journalDate,
#entryInput,
#conceptsInput,
#submit,
.label,
.mood {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}

input, textarea, select {
  border-color: black;
  border-width: 1.5px;
}

fieldset {
  display: flex;
  border-color: black;
}

#conceptsBox {
  margin-top: -2px;
  margin-bottom: -2px;
}

#entryBox {
  margin-bottom: -2px;
}

#conceptsInput {
  width: 50%;
}

#entryInput {
  width: 80%;
  height: 75px;
}

select {
  height: 1.5em;
  width: 280px;
}


/* Between form and output styling */

#submit {
  margin: 20px 0;
  padding-top: 4px;
  width: 100%;
  border-color: black;
  border-width: 2px;
  background-color: rgb(240, 240, 240);
}

.cartoonCollection {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.cartoons {
  min-width: 30px;
  height: 120px;
}

legend {
  font-size: larger;
  font-weight: 600;
}

.mood_radio_button {
  border-width: 2px;
  line-height: 130%;
  border-color: black;
}

.triumphs {
  text-align: center;
  font-size: x-large;
  margin: 40px 0 10px 0;
}


/* Output styling */

.delete_button:hover,
.edit_button:hover,
#submit:hover {
  background-color: lightgray;
}

.delete_button,
.edit_button {
  position: absolute;
  right: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  background-color: rgb(240, 240, 240);
  border-color: black;
  border-width: 2px;
}

.edit_button {
  max-width: 40%;
  font-size: .853em;
}

.delete_button {
  max-width: 65%;
}

.dateOutput {
  font-size: larger;
  max-width: 41%;
  margin-left: 5px;
}

.conceptsOutput {
  font-size: large;
  max-width: 68%;
  margin-left: 5px;
}

.entryOutput {
  max-width: 80%;
  margin-left: 5px;
}

.moodOutput {
  font-size: large;
  max-width: 68%; 
  margin-left: 5px;
}

.moodImage {
  height: 120px;
  float: right;
  margin-top: -80px;
  margin-right: 22px;
  margin-bottom: 5px;
}

.line {
  height: 5px;
  border-color: black;
  border-width: 2px;
  width: 100%;
  background-color: rgb(71, 119, 173);
}