fieldset {
  display: flex;
  flex-direction: column;
}

#form {
  background-color: rgb(71, 119, 173);
}

h1 {
  text-align: center;
  font-size: 2em;
}

.mood_radio_button {
  line-height: 130%;
}

legend {
  font-size: larger;
  font-weight: 600;
}

#submit {
  margin: 20px 0;
  width: 100%;
}

.cartoonCollection {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.cartoons {
  width: auto;
  height: 150px;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.line {
  height: 1px;
  background: black;
}

.triumphs {
  text-align: center;
  font-size: x-large;
}

select,
#journalDate,
#entryInput,
#conceptsInput,
#submit,
.label,
.mood {
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}

select {
  height: 1.5em;
}

.dateOutput, .moodOutput {
  font-size: large;
}

#entryInput {
  width: 80%;
  height: 100px;
}

#conceptsInput {
  width: 50%;
}

.options {
  margin-bottom: 40px;
}
